{{define "base"}}
<!doctype html>
<html>
  <head>
{{template "headtag" .}}
  </head>
  <body>
    <div class="ui container">
      <h1 class="ui center aligned header">AWS SES</h1>
      <div class="main ui middle aligned center">
        <div class="ui column container">
          <div class="ui segment">
            <div id="mails" class="ui middle aligned divided list">
              <div class="ui active inverted dimmer">
                <div class="ui loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="warning" class="ui hidden warning message"></div>
    <div id="info" class="ui hidden info message">
      <div class="header">
        Mail Body
      </div>
      <div class="ui segment">
        <pre id="result"></pre>
      </div>
    </div>
  </body>
</html>
{{end}}
